body {
    margin: 0;
    padding: 0;
}



.signup {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 25px;
    gap: 25px;
    box-shadow: 50px 50px 50px;
    border-radius: 10px;
}

.bu {
    display: flex;
    width: 100%;
    justify-content: center;
    color: azure;
}

.bu button {
    border: none;
    color: black;

}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.data input {
    border: none;
    border-radius: 5px;
    height: 25px;
    background-color: beige
}

.data label {
    color: chocolate;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logo-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.head-items {
    display: flex;
    color: wheat;
    gap: 25px;
}

.head-items li {
    list-style: none;
    font-size: 20px;
}

.head-container {
    display: flex;
    align-items: center;
}

/* .body-content {
    height: 100vh;
} */

.footer {
    position: fixed;
    bottom: 0;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 350px;
    width: 350px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px;

    background-color: white;
    /* z-index: 10;
    position: relative; */
}

.bu a {
    color: black;
}

.login-form input {
    height: 25px;
    width: 200px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;

}

.heading {
    text-align: center;
    font-size: 75px;
    color: white;
}



.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;


    background-image: url('./Assests/image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;

    backdrop-filter: blur(10px);


}

.button-login {
    border: none;
    background-color: #333;
    color: white;
    height: 45px;
    width: 100px;
    border-radius: 2px;
    font-size: medium;
}

.button-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}